nbproject
/vendor/
/environments/
/databases/
/yii
/yii.bat
/init
/init.bat
/composer.lock
/yii_test
/yii_test.bat
/Vagrantfile
/LICENSE.md
/codeception.yml


/vagrant/

/vendor.zip
vendor.zip
.vendor.zip
./vendor.zip